{% extends "auctions/layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
<!-- Title and Author -->
    <h1> {{title}} </h1>
    <b>Author:</b> {{listing.author.profile.first_name}} {{listing.author.profile.last_name}}
    <div></div>
<!-- Descriptions -->
    <h5 style="margin-top: 40px">Description</h5>
    <p>
        {{listing.description}}
    </p>
<!-- Display Highest Bid & Bidder (on/off) -->
    <p>
    <h5> Highest Bid </h5>
    <div>
    {% if last_bid %}
        {{last_bid.bidder.profile.first_name}} {{last_bid.bidder.profile.last_name}}: ${{last_bid.amount}}
    {% else %}
        <div>Be the first to bid!</div>
        <div>Minimum Amount: ${{listing.min_bid}}</div>
    {% endif %}
    </div>
    </p>
<!-- Action Button To Bid/Login/or Close Listing -->
    {% if listing.is_open == True %}
        {% if user.is_authenticated %}
            <form action={% url 'listing' id=listing.id %} method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% if user == author %}
                    <input class="btn btn-primary" type="submit" value="Close Listing" name="button">
                {% else %}
                    
                    {{ bid_form.as_p }}
                    <input class="btn btn-primary" type="submit" value="Bid" name="button">
                {% endif %}
        {% else %}
            Log in to Bid
        {% endif %}
    {% else %}
        {% if last_bid is None %}
            Listing Closed Before Bid was placed
        {% else %}
            {% if user.is_authenticated and user == last_bid.bidder %}
                You won the auction for {{listing.title}} at ${{last_bid.amount}}
            {% else %}
                {{last_bid.bidder.profile.first_name}} {{last_bid.bidder.profile.last_name}} won the auction for {{listing.title}} at ${{last_bid.amount}}
            {% endif %}
            
        {% endif %}
    {% endif %}
    </form>
<!-- Bid History -->
<p>
    <h5 style="margin-top: 40px">Bid History</h5>
    <ul>
        {% for bid in bids reversed %}
            <li>{{bid.bidder.profile.first_name}} {{bid.bidder.profile.first_name}} bid {{bid.amount}} on {{bid.date_bid}}</li>
        {% endfor %}
    </ul>
</p>
<!-- Comments -->
    
{% endblock %}
